// Buttons
button { 
  cursor: pointer; 
  &.btn-nostyle {
    background: 0 none;
    border: 0 none;
    outline: 0;
  }
}
.btn {
  border-width: 2px;
  border-radius: 8px;
}

.btn-secondary-c {
  background-color: $secondary_color;
  border-color: $secondary_color;
  color: $white_color;
  outline: 0;
  &:hover, &:focus {
    color: $white_color;
    box-shadow: none;
  }
}

.btn-outline-secondary-c {
  border-color: $secondary_color;
  color: $secondary_color;
  background: transparent;
  &:hover, &:focus {
    color: $secondary_color;
    box-shadow: none;
  }
}

.btn-std{
	width: 100%;
	padding: 10px 0;
	border: none;
	border-radius: 8px;
	box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.1);
}
.btn-rw{
	background-color: $secondary_color;
	color: $white_color;
	// box-shadow: 0px 5px 3px 0px rgba(180,180,180,0.5);
}
.btn-bw{
	background-color: $black_color;
	color: $white_color;
	// box-shadow: 0px 5px 3px 0px rgba(180,180,180,0.5);
}
.btn-ow{
	background-color: $primary_color;
	color: $white_color;
	// box-shadow: 0px 5px 3px 0px rgba(180,180,180,0.5);
}
.btn-yw{
  background-color: $yellow_color;
  color: $white_color;
  // box-shadow: 0px 5px 3px 0px rgba(180,180,180,0.5);
}
.btn-disabled{
	background-color: $light_gray_color;
	color: $white_color;
}

.btn-customize {
	background-image: url('../images/bg-btn-customize.png');
	background-position: 8px center;
	background-repeat: no-repeat;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-size: 13px;
	padding: 5px 14px 5px 30px;
}

.btn-circle {
  @include background(none, 50%, $primary_color);
	//background: $primary_color;
	//background-position: 50%;
	//background-repeat: no-repeat;
	//background-size: 50%;
  border: none;
  border-radius: 50%;
  height: 32px;
  width: 32px;
    
	//&.btn-less {
	//	background-image: url('../images/btn-img-minus.png');
	//}
	
	//&.btn-add {
	//	background-image: url('../images/btn-img-plus.png');
	//}
	
	&.disabled {
		cursor: default;
		opacity: 0.2;
	}
}

.btn-less {
	background-image: url('../images/btn-img-minus.png');
}

.btn-add {
	background-image: url('../images/btn-img-plus.png');
}

.btn-xl {
    background: #fff;
    border: none;
    border-radius: 10px;
	-webkit-box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 2px 0px rgba(0, 0, 0, 0.1);
	color: $maroon_color;
	font-family: 'FuturaPT-Bold';
	font-size: 24px;
    height: 172px;
	width: 100%;
	
	&:hover,
	&.selected {
		background: #fffcf6;
		border: 4px solid $primary_color;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		color: $primary_color;
	}
}

.btn-add-cart {
	background-color: transparent;
	background-image: url('../images/icon-add-food.png');
	background-position: left center;
	background-repeat: no-repeat;
	background-size: 42px;
	border: none;
	color: $secondary_color;
	font-family: 'Belizio-Bold';
	padding: 15px 0 15px 50px;
  font-size: 14px;
}
