// Colors
$primary_color: #f78429;
$secondary_color: #c41230;

$success_color: #00a160;
$pending_color: #fbb034;
$error_color: #6f1200;

$white_color: #fff;
$black_color: #000;

$cream_color: #fbedd3;
$dark_gray_color: #373737;
$light_cream_color: #fcf5eb;
$light_gray_color: #c6c6c6;
$maroon_color: #6f1200;
$yellow_color: #fbb034;
$charleston_green_color: #2b2b2b;