.lvn-token {
  .details-container {
    li {
      img {
        width: 48px;
        height: 48px;
      }
      p {font-size: 14px;}
    }
  }
  @include mq(min-md){
    .details-container {
      max-width: 900px;
      margin: auto;
      li {
        flex-basis: 50%;
      }
    }
  }
}
